.header-bg{
    background-color: #333333;
    padding: 25px;
}
.header-link{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.search{
    color: white;
    margin-left: 20px;
}
@media only screen and (max-width: 600px){
    .header{
        display: none;
    }
    }  
