.TopNavbar-bg{
    margin: 0;
    background-color: #252525;
    color: white;
    font-size: 14px;
    
    
}
.TopNavbar-bg:hover{
    text-decoration: underline;
   
   
}
@media only screen and (max-width: 600px){
    .TopNavbar-bg{
        padding-left: 10px;
        
        text-align: start;
    }  
}